version: "3.9"

services:
  app:
    build: .
    container_name: fastapi_app
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    environment:
      POSTGRES_URL: postgresql://postgres:postgres@db:5432/postgres
      REDIS_URL: redis://redis:6379/0

    volumes:
      - .:/app
    restart: unless-stopped

  db:
    image: postgres:16
    container_name: postgres_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - ./db/pgdata:/var/lib/postgresql/data
    restart: unless-stopped

  redis:
    image: redis:8
    container_name: redis_cache
    ports:
      - "6379:6379"
    restart: unless-stopped

volumes:
  postgres_data:
